.footer {
    background-color: #1c2735;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.95rem;
    font-weight: 500;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  